*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Helvetica', sans-serif;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  animation: fadein 1s;
  font-size: 2rem;
  font-weight: 900;
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.controls__grid-width {
  border: none;
  font: inherit;
  background-color: transparent;
  color: inherit;
  text-align: center;
  caret-color: #ccc;
  min-width: 5ch;
}

.controls__grid-width:focus {
  outline: none;
}

.controls__grid-width:invalid {
  border: red solid 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.controls__grid-width::placeholder {
  color: var(--placeholder-text-color, #ccc);
}

.controls__grid-width:focus::placeholder {
  color: transparent;
}

.grid {
  width: 640px;
  height: 640px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.grid__cell {
  border: #ccc solid 1px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.options > * {
  border: none;
  font: inherit;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  width: 9ch;
  opacity: 0.5;
}

.options > *:hover {
  transform: scale(1.05);
  opacity: 1;
}

.grid--no-border .grid__cell {
  border: none;
}